h1{
    font-size: 50px;

    font-weight: 500;
}

body{
    margin: 0px;
font-family: 'Poppins', sans-serif;
}

.name-highlight{
    color: yellowgreen;
}

.half-width{

    width: 40% ;
    float: left;
    margin-left: 5%;
    padding: 2%;

}

.top-banner{
    borde: 1px solid red;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    

}

.link-button{

   text-decoration: none; 
background-image: linear-gradient(45deg,yellowgreen, orange) ;
   padding: 10px 20px;
   border-radius: 5px;
   color: white;
   font-weight: 600;

}